streamlit
google-generativeai
python-dotenv
pypdf

langchain
langchain-community
langchain-google-genai

faiss-cpu

pymongo
psycopg2-binary

fastapi
uvicorn
python-multipart
sqlalchemy

plotly

pandas
numpy

fpdf

bcrypt<5
passlib[bcrypt]
python-jose
pytest

sentence-transformers
